<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}"
          rel="stylesheet" media="screen" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/7019385119.js"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Products</title>
</head>
<body>

<div class="container">

    <div>
        <div style="text-align: center;">
            <h1 th:text="'Supplier dashboard: ' + ${appName}"></h1>
        </div>

        <div class="row vertical-align">
            <div class="col-md-4">
                <h2>Products</h2>
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Marketplace ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            <tr th:each="product: ${products}">
                <td th:text="${product.id}" />
                <td th:text="${product.marketplaceId}" />
                <td th:text="${product.title}" />
                <td th:text="${product.description}" />
                <td th:text="${product.quantity}" />
                <td><span th:text="${product.priceMinor / 100}"></span>,<span th:if="${product.priceMinor % 100 < 10}">0</span><span th:text="${product.priceMinor % 100}"></span> zł</td>
                <td>
                    <a href="#" th:href="@{/products/form(productId=${product.id})}" style="margin-top: -8px;"
                       class="btn btn-default btn-xs" aria-label="X"> <i class="fas fa-edit"></i>
                    </a>
                    <a href="#" th:href="@{/products/remove(productId=${product.id})}" style="margin-top: -8px;"
                       class="btn btn-default btn-xs" aria-label="X"> <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
                <td /><td /><td /><td /><td /><td />
                <td>
                    <a href="#" th:href="@{/products/form}" style="margin-top: -8px;"
                       class="btn btn-default btn-xs" aria-label="X"> <i class="fas fa-plus"></i>
                    </a>
                </td>
            <tr>

            </tr>
        </table>
    </div>

    <div>
        <div class="row vertical-align">
            <div class="col-md-4">
                <h2>Orders</h2>
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Products</th>
                <th>Client first name
                <th>Client family name</th>
                <th>Client email</th>
                <th>Shipping address</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
            <tr th:each="order: ${orders}">
                <td th:text="${order.id}" />
                <td>
                    <p th:each="entry: ${order.entries}">
                        [<span th:text="${entry.product.id}"></span>] <span th:text="${entry.product.title}"></span> x <span th:text="${entry.quantity}"></span>
                    </p>
                </td>
                <td th:text="${order.clientFirstName}" />
                <td th:text="${order.clientFamilyName}" />
                <td th:text="${order.clientEmail}" />
                <td th:text="${order.clientAddress}" />
                <td><span th:text="${order.totalMinor/ 100}"></span>,<span th:if="${order.totalMinor % 100 < 10}">0</span><span th:text="${order.totalMinor % 100}"></span> zł</td>
                <td>
                    <a href="#" th:href="@{/orders/remove(orderId=${order.id})}" style="margin-top: -8px;"
                       class="btn btn-default btn-xs" aria-label="X"> <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>


</div>

<table>

</table>
</body>
</html>